In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("bases_de_dados/Sivep/bases_novas/not_encoded/sivep_kids_atualizado_not_encoded_full_evo.csv")
df.drop(df[df['outcome_final_SIVEP'] == "in-hospital"].index, inplace = True)
df['Doses_vacina'] = df['Doses_vacina'].map({'zero': 'zero', 'uma':'uma', 'duas':'duas', 'tres':'tres','missing':'zero'})

In [2]:
from pycaret.classification import *
s = setup(df, target = 'outcome_final_SIVEP', session_id = 125, 
          log_experiment = True, experiment_name = 'evo_1', remove_multicollinearity = True, max_encoding_ohe=100, fix_imbalance=True, fix_imbalance_method="SMOTEENN")

In [13]:
print(df['outcome_final_SIVEP'].value_counts())
get_config('y_test_transformed').value_counts()

discharge    20742
death         1511
Name: outcome_final_SIVEP, dtype: int64

1    6223
0     453
Name: outcome_final_SIVEP, dtype: int64

In [4]:
best = compare_models(exclude=['lightgbm', 'ridge', 'svm', 'dummy'])

In [3]:
gbc = create_model('gbc')

In [6]:
evaluate_model(gbc)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [7]:
df['outcome_final_SIVEP'].value_counts()

discharge    20742
death         1511
Name: outcome_final_SIVEP, dtype: int64

[2023-10-10 15:08:01 -0300] [341660] [INFO] Starting gunicorn 20.1.0
[2023-10-10 15:08:01 -0300] [341660] [INFO] Listening at: http://127.0.0.1:5000 (341660)
[2023-10-10 15:08:01 -0300] [341660] [INFO] Using worker: sync
[2023-10-10 15:08:01 -0300] [341661] [INFO] Booting worker with pid: 341661

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22253 entries, 0 to 24096
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gender                     22253 non-null  object
 1   idade_anos                 22253 non-null  float64
 2   etnia                      22253 non-null  object
 3   region                     22253 non-null  object
 4   Virus_strain               22253 non-null  object
 5   dyspnea                    22253 non-null  object
 6   fever                      22253 non-null  object
 7   cough                      22253 non-null  object
 8   odynophagia                22253 non-null  object
 9   diarrhea                   22253 non-null  object
 10  vomit                      22253 non-null  object
 11  abdominal_Pain             22253 non-null  object
 12  ageusia                    22253 non-null  object
 13  anosmia                    22253 non-null  object
 14  REspDistress               22253 non-null  object
 15  Oxygen_saturation_reduced  22253 non-null  object
 16  diabetes_mellitus          22253 non-null  object
 17  obesity                    22253 non-null  object
 18  cardiology                 22253 non-null  object
 19  pulmonary                  22253 non-null  object
 20  hypertension               22253 non-null  object
 21  immunesupression           22253 non-null  object
 22  renal                      22253 non-null  object
 23  asthma                     22253 non-null  object
 24  comorbidades_total         22253 non-null  float64
 25  comorbidades_dic           22253 non-null  object
 26  comorbidades_cat           22253 non-null  object
 27  Tempo_desfecho             22253 non-null  float64
 28  codigoRecebeuVacina        22253 non-null  object
 29  Doses_vacina               22253 non-null  object
 30  hematology                 22253 non-null  object
 31  neurology                  22253 non-null  object
 32  oncology                   22253 non-null  object
 33  Transplant                 22253 non-null  object
 34  sind_down                  22253 non-null  object
 35  syndrome                   22253 non-null  object
 36  nosocomial                 22253 non-null  object
 37  outcome_final_SIVEP        22253 non-null  object
dtypes: float64(3), object(35)
memory usage: 6.6+ MB

In [7]:
df.head()

,gender,idade_anos,etnia,region,Virus_strain,dyspnea,fever,cough,odynophagia,diarrhea,...,codigoRecebeuVacina,Doses_vacina,hematology,neurology,oncology,Transplant,sind_down,syndrome,nosocomial,outcome_final_SIVEP
0,male,17.000000,Brown,Northeast,gamma,sim,nao,nao,nao,nao,...,nao,zero,nao,nao,nao,nao,nao,nao,nao,death
1,male,16.416667,White,South,delta,nao,sim,sim,nao,nao,...,nao,zero,nao,sim,nao,nao,nao,nao,nao,death
2,male,15.333333,Brown,Southeast,gamma,nao,sim,sim,nao,nao,...,nao,zero,nao,nao,nao,nao,nao,nao,nao,death
3,male,14.333333,White,Southeast,gamma,sim,sim,nao,nao,nao,...,nao,zero,nao,nao,nao,nao,nao,nao,nao,death
4,male,13.583333,White,North,omicron,sim,nao,nao,nao,nao,...,nao,zero,nao,nao,nao,nao,nao,nao,nao,death

In [25]:
get_config('X_transformed')

,gender,idade_anos,etnia_Brown,etnia_White,etnia_Black,etnia_Asian,etnia_Indigenous,region_Central_West,region_Northeast,region_Southeast,...,Doses_vacina_duas,Doses_vacina_uma,Doses_vacina_tres,hematology,neurology,oncology,Transplant,sind_down,syndrome,nosocomial
22314,0.0,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22999,0.0,8.583333,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9399,1.0,15.833333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9077,0.0,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5603,1.0,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13129,1.0,2.666667,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8371,1.0,14.083333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11944,1.0,1.000000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20993,0.0,15.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5492,1.0,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0